@font-face {
    font-family: 'Comfortaa';
    src: url('/smile249.github.io/font/Comfortaa.eot'); /* IE9 Compat Modes */
    src: url('/smile249.github.io/font/Comfortaa.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/smile249.github.io/font/Comfortaa.woff') format('woff'), /* Modern Browsers */
         url('/smile249.github.io/font/Comfortaa.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/smile249.github.io/font/Comfortaa.svg#svgComfortaa') format('svg'); /* Legacy iOS */
}
html{
    background-color: black;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    margin: 2%;
}
h1{
    text-align: center;
    padding-bottom: 6%;
}
.subtitle{
    font-size: 21px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
.cover{
    margin: 3%;
    border-radius: 40px;
}
img.bugshirt{
    max-width: 27%;
    float: left;
    left: 5%;
    margin-bottom: 5%;
    padding-right: 3%;
}
.floatText{
    display: flex;
    padding-top: 5%;
    font-size: 18px;
    padding-bottom: 40%;
}
footer{
    position: fixed;
    bottom: 0;
}
.lefthandside{
    padding-top: 3%;
}
