@import url(https://fonts.googleapis.com/css?family=Comfortaa&display=swap);

html {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Comfortaa';
    margin: 2%;
}

.amtcontainer {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    max-height: 50%;
}

.amtcontainer_invert {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    max-height: 50%;
}

.right {
    flex-wrap: wrap;
    text-align: right;
    line-height: 160%;
}

img.right {
    max-width: 50%;
}

img.left {
    max-width: 70%;
}

h1 {
    text-align: center;
    justify-content: center;
    justify-self: center;
    padding-bottom: 6%;
}

.subtitle {
    font-size: 21px;
    text-align: center;
    justify-content: center;
}

.cover {
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;


    transition: scale 0.2s cubic-bezier(0.67, 0.01, 0.17, 1.04);
}

.floatText {
    display: flex;
    padding-top: 5%;
    font-size: 18px;
    padding-bottom: 40%;
}

footer {
    position: fixed;
    bottom: 0;
}

nav {
    text-align: center;
    padding-bottom: 6%;
}

nav>a {
    padding-left: 0.4vh;
    padding-right: 0.4vh;
}

.lefthandside {
    font-size: 16px;
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 140%;
}

.lefthandside_min {
    font-size: 16px;
    padding-top: 3%;
    line-height: 140%;
}

ul {
    padding-bottom: 3%;
}

.flag {
    max-width: 2%;
    margin: 0.15%;
    border-radius: 18%;
    border-color: white;
    border: 0.01px solid;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vh;
    padding-bottom: 1.5%;
}

.cover:hover {
    scale: 1.03;
}

.cover:active {
    scale: 0.99;
}