html{
    background-color: black;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    margin: 2%;
}
h1{
    text-align: center;
    padding-bottom: 6%;
}
p{
    font-size: 21px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
.cover{
    margin: 3%;
    border-radius: 40px;
}
a{
    align: center;
}
